@import './bounce.css';
:root {
  --background-color: #1f1f1f;
  --primary-color: #4d533c;
  --text-color: #8b956d;
  --secondary-color: #c4cfa1;
}

body {
  min-height: 90vh;
  margin: 0;
  color: var(--text-color);
  background: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Silkscreen', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.silkscreen-regular {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 700;
  font-style: normal;
}*/
