h1 {
  display: flex;
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
}

h1 span {
  display: inline-block;
  animation: bounce 0.6s ease infinite;
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}

h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
h1 span:nth-child(11) {
  animation-delay: 1s;
}
h1 span:nth-child(12) {
  animation-delay: 1.1s;
}

h1 span:nth-child(13) {
  animation-delay: 1.2s;
}
h1 span:nth-child(14) {
  animation-delay: 1.3s;
}

h1 span:nth-child(15) {
  animation-delay: 1.4s;
}
h1 span:nth-child(16) {
  animation-delay: 1.5s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
